<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem
        id="dealermobil_menu_root"
        name="FineCar Showroom"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="dealermobil_mobil_menu_categ"
        name="Mobil"
        parent="dealermobil_menu_root"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="dealermobil_pegawai_menu_categ"
        name="Staff Showroom"
        parent="dealermobil_menu_root"
        sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
	     id="dealermobil_transaksi_menu_categ"
	    name="Transaksi"
	    parent="dealermobil_menu_root"
	    sequence="42"/>

</odoo>